// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42

#define HAVE_CONFIG_H 1
#define VGA_amd64 1
#define VGO_freebsd 1
#define VGP_amd64_freebsd 1
#define VGPV_amd64_freebsd_vanilla 1
#define VG_LIBDIR ="\"/home/paulf/tools/valgrind/lib/valgrind"\"
#define VG_PLATFORM "\"amd64-freebsd\""
